.Button {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  color: #ff3b81;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 18px;
  border: none;
}

.Button:disabled {
  color: #ff3b81;
  cursor: not-allowed;
}