.Message {
  font-family: GT-Haptik;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
  width: 294px;
  height: 38px;
  border-radius: 3.5px;
  border: solid 0.5px #ffffff;
  padding: 24px 30px 24px 30px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

